## Title
Data Raw Exploration

### By:
Juan GÃ³mez

### Date:
2024-05-16

### Description:

This notebook explores the raw Yelp Open Dataset. It shows basic statistics, checks missing values, and looks at trends in popularity, genres, and ratings. The goal is to understand the data before building a recommendation system.

## Import  libraries

In [1]:
import pandas as pd

## Load data

In [2]:
from pathlib import Path

pd.set_option("display.max_columns", None)

BASE_DIR = Path.cwd().resolve().parents[1]

In [3]:
df = pd.read_parquet(BASE_DIR / "data/01_raw/data_message_classifier_raw.parquet")

## Exploration

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500000 entries, 0 to 1499999
Data columns (total 43 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   review_id           1500000 non-null  object
 1   user_id             1500000 non-null  object
 2   business_id         1500000 non-null  object
 3   stars               1500000 non-null  int64
 4   useful              1500000 non-null  int64
 5   funny               1500000 non-null  int64
 6   cool                1500000 non-null  int64
 7   text                1500000 non-null  object
 8   date                1500000 non-null  datetime64[ns]
 9   name                1499992 non-null  object
 10  review_count        1499992 non-null  float64
 11  yelping_since       1499992 non-null  object
 12  useful_user         1499992 non-null  float64
 13  funny_user          1499992 non-null  float64
 14  cool_user           1499992 non-null  float64
 15  elite               1499992 non-null  object
 16  friends             1499992 non-null  object
 17  fans                1499992 non-null  float64
 18  average_stars       1499992 non-null  float64
 19  compliment_hot      1499992 non-null  float64
 20  compliment_more     1499992 non-null  float64
 21  compliment_profile  1499992 non-null  float64
 22  compliment_cute     1499992 non-null  float64
 23  compliment_list     1499992 non-null  float64
 24  compliment_note     1499992 non-null  float64
 25  compliment_plain    1499992 non-null  float64
 26  compliment_cool     1499992 non-null  float64
 27  compliment_funny    1499992 non-null  float64
 28  compliment_writer   1499992 non-null  float64
 29  compliment_photos   1499992 non-null  float64
 30  name_user           1500000 non-null  object
 31  address             1500000 non-null  object
 32  city                1500000 non-null  object
 33  state               1500000 non-null  object
 34  postal_code         1500000 non-null  object
 35  latitude            1500000 non-null  float64
 36  longitude           1500000 non-null  float64
 37  stars_user          1500000 non-null  float64
 38  review_count_user   1500000 non-null  int64
 39  is_open             1500000 non-null  int64
 40  attributes          1447264 non-null  object
 41  categories          1499791 non-null  object
 42  hours               1423302 non-null  object
dtypes: datetime64[ns](1), float64(20), int64(6), object(16)
memory usage: 492.1+ MB

In [5]:
df.sample(5)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,name,review_count,yelping_since,useful_user,funny_user,cool_user,elite,friends,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,name_user,address,city,state,postal_code,latitude,longitude,stars_user,review_count_user,is_open,attributes,categories,hours
788973,qVRTXlEYfqfLzgZKukHo_Q,AGMSS7S8pgMHMdyi-e9i3w,o-xk3tM7Qp72Fm88EADrCQ,4,2,0,0,"The hotel is in a great location, clean, comfo...",2019-01-21 23:34:51,Cody,2.0,2018-08-25 18:25:40,2.0,0.0,0.0,,"W_QJmZ3JNUVlChnO8b6o4A, eExq2i7CksO6xXlGICdADw...",0.0,4.50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Royal St Charles Hotel,135 St Charles Ave,New Orleans,LA,70130,29.952450,-90.069965,3.0,207,1,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Hotels, Professional Services, Event Planning ...","{'Friday': '0:0-0:0', 'Monday': '0:0-0:0', 'Sa..."
941449,MdGv0gpIihd7pEf9YX4Nuw,98C6hdkvSUTsAIQfzRtqKQ,8fDnwFP_r6ZJEs7wKiyhDA,3,1,0,0,It's KFC so it isn't going to be an amazing li...,2018-08-10 19:35:00,Meggean,110.0,2015-11-28 15:30:56,79.0,33.0,69.0,"2018,2019,20,20,2021","HaUJdA_zyc_vEHlMoEbxlA, EW78_G-bJQE3Xssr7WHsXw...",1.0,3.86,0.0,8.0,1.0,0.0,0.0,6.0,11.0,5.0,5.0,1.0,4.0,KFC,4744 Lebanon Rd,Hermitage,TN,37076,36.215438,-86.595192,2.0,32,1,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Fast Food, Chicken Wings, Chicken Shop, Restau...","{'Friday': '11:0-20:0', 'Monday': '11:0-20:0',..."
1432421,9uPS3mic78brSyWHdWDqyw,LGLnX9YkbkZxe61qZndoBA,u30rQySpS3t9FHWaWaX4ng,3,1,0,1,We parked across the street in a lot. Cute out...,2017-03-26 00:03:07,Kathy,300.0,2013-10-07 00:33:40,261.0,75.0,127.0,"2017,2018,2019,20,20,2021",5MCBLBxr10NLUKZ4AboAMg,7.0,3.96,0.0,2.0,0.0,0.0,0.0,3.0,1.0,7.0,7.0,4.0,1.0,Off the Hook Beach Bistro,14601 Gulf Blvd,Madeira Beach,FL,33708,27.798411,-82.797612,4.5,36,0,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Seafood, American (New), Restaurants, Burgers","{'Friday': '12:0-22:0', 'Monday': '0:0-0:0', '..."
1158536,2mWC-HHpHkow1gUkmav4rQ,dC6MvKFG6pvAG8QWtVzAdw,ZMRfHHbyTQb_Yje9GhrVfw,1,1,0,0,Worst ever bartender. Only acknowledged the lo...,2018-01-17 19:53:16,Lisa,29.0,2011-01-29 23:33:23,11.0,3.0,3.0,,"B7EGda3PcFcTWrfSI8LRag, mczB7sulC1mYxMTSZeWBUw...",0.0,4.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,The Chart Room,300 Chartres St,New Orleans,LA,70130,29.954263,-90.066493,4.5,238,1,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Nightlife, Bars, Dive Bars","{'Friday': '11:0-4:0', 'Monday': '11:0-4:0', '..."
942674,389h5Xi1r8bBElcPSpaqog,Il6_mSqGejDNriUTFwpImA,kLqLi4dHEqYpuqUAX_7QLA,4,1,0,1,I decided to try out this place for lunch and ...,2018-08-09 16:14:45,Jane,77.0,2012-02-13 22:52:10,61.0,8.0,27.0,"2017,2018","knEpb4UwoKlPoDqyap-0JQ, T0GKQN1xvP_CfHUaLKWbkQ...",1.0,4.15,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,Sakana Sushi Asian Grill,2908 W Gandy Blvd,Tampa,FL,33611,27.893209,-82.490857,4.0,116,1,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Japanese, Sushi Bars, Asian Fusion, Restaurants","{'Friday': '17:0-21:0', 'Monday': '17:0-22:0',..."

### Null Values

In [6]:
print("\nNull values in Movie Data Set:")
null_counts = df.isnull().sum()
display(null_counts[null_counts > 0].sort_values(ascending=False))

Null values in Movie Data Set:

hours                 76698
attributes            52736
categories              209
review_count              8
compliment_photos         8
compliment_writer         8
compliment_funny          8
compliment_cool           8
compliment_plain          8
compliment_note           8
compliment_list           8
compliment_cute           8
name                      8
compliment_more           8
compliment_hot            8
average_stars             8
fans                      8
friends                   8
elite                     8
cool_user                 8
funny_user                8
useful_user               8
yelping_since             8
compliment_profile        8
dtype: int64

In [7]:
df2 = df.dropna(subset=["useful_user", "funny_user", "cool_user", "fans"])

In [8]:
print("\nColumns with more than 30% missing values:")
null_threshold = 30
null_percent = df.isnull().mean() * 100  # calculate & of null values
display(null_percent[null_percent > null_threshold].sort_values(ascending=False))

Columns with more than 30% missing values:

Series([], dtype: float64)

### Remove columns

In [9]:
df3 = df2.drop(
    columns=[
        "user_id",
        "business_id",
        "name",
        "yelping_since",
        "name_user",
        "latitude",
        "friends",
        "postal_code",
        "longitude",
        "compliment_hot",
        "compliment_more",
        "compliment_profile",
        "compliment_cute",
        "compliment_list",
        "compliment_note",
        "compliment_plain",
        "compliment_cool",
        "compliment_funny",
        "compliment_writer",
        "compliment_photos",
        "attributes",
        "hours",
    ]
)

In [10]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1499992 entries, 0 to 1499999
Data columns (total 21 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   review_id          1499992 non-null  object
 1   stars              1499992 non-null  int64
 2   useful             1499992 non-null  int64
 3   funny              1499992 non-null  int64
 4   cool               1499992 non-null  int64
 5   text               1499992 non-null  object
 6   date               1499992 non-null  datetime64[ns]
 7   review_count       1499992 non-null  float64
 8   useful_user        1499992 non-null  float64
 9   funny_user         1499992 non-null  float64
 10  cool_user          1499992 non-null  float64
 11  elite              1499992 non-null  object
 12  fans               1499992 non-null  float64
 13  average_stars      1499992 non-null  float64
 14  address            1499992 non-null  object
 15  city               1499992 non-null  object
 16  state              1499992 non-null  object
 17  stars_user         1499992 non-null  float64
 18  review_count_user  1499992 non-null  int64
 19  is_open            1499992 non-null  int64
 20  categories         1499783 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(6), object(7)
memory usage: 251.8+ MB

In [11]:
df3.shape

(1499992, 21)

### Categorical Variables

In [12]:
cols_categoric = [
    "stars",
    "elite",
    "city",
    "state",
]

In [13]:
df3[cols_categoric] = df3[cols_categoric].astype("category")

- Ordinal: stars

- Nominal: elite, city, state

### Numerical Variables

In [14]:
cols_numeric = [
    "useful",
    "funny",
    "cool",
    "review_count",
    "useful_user",
    "funny_user",
    "cool_user",
    "fans",
    "average_stars",
    "stars_user",
    "review_count_user",
]

- Float

In [15]:
cols_numeric_float = ["stars_user", "average_stars"]

In [16]:
df3[cols_numeric_float] = df3[cols_numeric_float].astype("float")

- Int

In [17]:
cols_numeric_int = [
    "useful",
    "funny",
    "cool",
    "review_count_user",
    "review_count",
    "useful_user",
    "funny_user",
    "cool_user",
    "fans",
]

In [18]:
df3[cols_numeric_int] = df3[cols_numeric_int].astype("int8")

### Boolean Variables

In [19]:
cols_boolean = ["is_open"]

In [20]:
df3[cols_boolean] = df3[cols_boolean].astype("bool")

### String Variables

In [21]:
cols_string = ["review_id", "text", "address", "categories"]

In [22]:
df3[cols_string] = df3[cols_string].astype("string")

### Date Variables

In [23]:
col_date = ["date"]

In [24]:
df3[col_date] = df3[col_date].astype("datetime64[ns]")

### Schema

In [25]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1499992 entries, 0 to 1499999
Data columns (total 21 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   review_id          1499992 non-null  string
 1   stars              1499992 non-null  category
 2   useful             1499992 non-null  int8
 3   funny              1499992 non-null  int8
 4   cool               1499992 non-null  int8
 5   text               1499992 non-null  string
 6   date               1499992 non-null  datetime64[ns]
 7   review_count       1499992 non-null  int8
 8   useful_user        1499992 non-null  int8
 9   funny_user         1499992 non-null  int8
 10  cool_user          1499992 non-null  int8
 11  elite              1499992 non-null  category
 12  fans               1499992 non-null  int8
 13  average_stars      1499992 non-null  float64
 14  address            1499992 non-null  string
 15  city               1499992 non-null  category
 16  state              1499992 non-null  category
 17  stars_user         1499992 non-null  float64
 18  review_count_user  1499992 non-null  int8
 19  is_open            1499992 non-null  bool
 20  categories         1499783 non-null  string
dtypes: bool(1), category(4), datetime64[ns](1), float64(2), int8(9), string(4)
memory usage: 114.5 MB

In [26]:
import pyarrow as pa

schema = pa.Schema.from_pandas(df3, preserve_index=False)

In [27]:
schema

review_id: string
stars: dictionary<values=int64, indices=int8, ordered=0>
useful: int8
funny: int8
cool: int8
text: string
date: timestamp[ns]
review_count: int8
useful_user: int8
funny_user: int8
cool_user: int8
elite: dictionary<values=string, indices=int16, ordered=0>
fans: int8
average_stars: double
address: string
city: dictionary<values=string, indices=int16, ordered=0>
state: dictionary<values=string, indices=int8, ordered=0>
stars_user: double
review_count_user: int8
is_open: bool
categories: string
-- schema metadata --
pandas: '{"index_columns": [], "column_indexes": [], "columns": [{"name":' + 2614

## Basic Statistics

In [28]:
df3.describe(include=["string", "category"])

,review_id,stars,text,elite,address,city,state,categories
count,1499992,1499992,1499992,1499992,1499992,1499992,1499992,1499783
unique,1499992,5,1498155,838,103378,1299,24,70431
top,LgfSWgq5DzgoFzNW6YwfSg,5,I love Mexican restaurants I could probably ea...,,,Philadelphia,PA,"Restaurants, Mexican"
freq,1,678237,7,933532,22169,176131,314382,10310

In [29]:
MAX_UNIQUE_DISPLAY = 20

for column in cols_numeric:
    print(f"\nð Column analysis: {column}")
    print("-" * 50)

    # Step 1: Summary statistics
    print("ð Summary statistics:")
    print(df3[column].describe())

    # Step 2: Unique values (limit if too many)
    unique_vals = df3[column].unique()
    print(f"\nð¢ Unique values ({len(unique_vals)}):")
    print(
        unique_vals if len(unique_vals) <= MAX_UNIQUE_DISPLAY else unique_vals[:MAX_UNIQUE_DISPLAY]
    )

    # Step 3: Value counts (only if few unique values)
    if df3[column].nunique() <= MAX_UNIQUE_DISPLAY:
        print("\nð Value counts:")
        print(df3[column].value_counts().sort_index())

ð Column analysis: useful
--------------------------------------------------
ð Summary statistics:
count    1.499992e+06
mean     2.436326e+00
std      3.948817e+00
min     -1.280000e+02
25%      1.000000e+00
50%      1.000000e+00
75%      2.000000e+00
max      1.270000e+02
Name: useful, dtype: float64

ð¢ Unique values (191):
[ 1  3  2  6  8  5  4 10  7 25 23 52 11 13 12 18  9 67 14 15]

ð Column analysis: funny
--------------------------------------------------
ð Summary statistics:
count    1.499992e+06
mean     5.324882e-01
std      2.052519e+00
min     -1.270000e+02
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.260000e+02
Name: funny, dtype: float64

ð¢ Unique values (121):
[ 0  1  2  4  3  5  6  7 27  9 18  8 10 19 21 23 26 16 13 11]

ð Column analysis: cool
--------------------------------------------------
ð Summary statistics:
count    1.499992e+06
mean     1.078519e+00
std      3.383853e+00
min     -1.280000e+02
25%      0.000000e+00
50%      0.000000e+00
75%      1.000000e+00
max      1.270000e+02
Name: cool, dtype: float64

ð¢ Unique values (180):
[ 1  0  2  5  7  4  3  6  9 25 19 54 11 10 12  8 18 14 15 28]

ð Column analysis: review_count
--------------------------------------------------
ð Summary statistics:
count    1.499992e+06
mean     1.524190e+01
std      5.462573e+01
min     -1.280000e+02
25%      2.000000e+00
50%      1.300000e+01
75%      4.500000e+01
max      1.270000e+02
Name: review_count, dtype: float64

ð¢ Unique values (256):
[   5   48   79   32   25   64   18 -125   51   67  -24   81   44  118
    2   86  -56   90  -61 -110]

ð Column analysis: useful_user
--------------------------------------------------
ð Summary statistics:
count    1.499992e+06
mean     1.335748e+01
std      5.313726e+01
min     -1.280000e+02
25%      1.000000e+00
50%      1.000000e+01
75%      4.100000e+01
max      1.270000e+02
Name: useful_user, dtype: float64

ð¢ Unique values (256):
[   4   95   66   33  -72   37   10  -74   54    9   51   47   25    0
   44  -12 -109   23   29   20]

ð Column analysis: funny_user
--------------------------------------------------
ð Summary statistics:
count    1.499992e+06
mean     9.982233e+00
std      3.855184e+01
min     -1.280000e+02
25%      0.000000e+00
50%      3.000000e+00
75%      1.800000e+01
max      1.270000e+02
Name: funny_user, dtype: float64

ð¢ Unique values (256):
[  0  13  19 -60 102  10   3  32   5  63  96   2  89   7  14 -39 118  11
  59 -61]

ð Column analysis: cool_user
--------------------------------------------------
ð Summary statistics:
count    1.499992e+06
mean     1.026499e+01
std      4.571566e+01
min     -1.280000e+02
25%      0.000000e+00
50%      3.000000e+00
75%      2.600000e+01
max      1.270000e+02
Name: cool_user, dtype: float64

ð¢ Unique values (256):
[   2    6   23   12  -14   -5   93   14   13  -66   15   70   86    0
  -38   97   20   10 -108   31]

ð Column analysis: fans
--------------------------------------------------
ð Summary statistics:
count    1.499992e+06
mean     6.960867e+00
std      2.309451e+01
min     -1.280000e+02
25%      0.000000e+00
50%      1.000000e+00
75%      7.000000e+00
max      1.270000e+02
Name: fans, dtype: float64

ð¢ Unique values (256):
[  0   1  23  41   6   2  79   9  22  45   5  12  56 -89  11  17  51  33
   4  28]

ð Column analysis: average_stars
--------------------------------------------------
ð Summary statistics:
count    1.499992e+06
mean     3.724495e+00
std      8.985252e-01
min      1.000000e+00
25%      3.400000e+00
50%      3.930000e+00
75%      4.300000e+00
max      5.000000e+00
Name: average_stars, dtype: float64

ð¢ Unique values (401):
[4.5  2.46 3.59 4.05 4.14 4.33 4.43 3.8  4.19 4.11 4.06 4.41 4.29 4.17
 4.4  4.53 3.68 4.48 4.15 4.24]

ð Column analysis: stars_user
--------------------------------------------------
ð Summary statistics:
count    1.499992e+06
mean     3.762182e+00
std      8.171470e-01
min      1.000000e+00
25%      3.500000e+00
50%      4.000000e+00
75%      4.500000e+00
max      5.000000e+00
Name: stars_user, dtype: float64

ð¢ Unique values (9):
[4.5 3.5 5.  4.  3.  2.5 1.5 1.  2. ]

ð Value counts:
stars_user
1.0     10696
1.5     30895
2.0     56043
2.5     88967
3.0    136139
3.5    263048
4.0    458436
4.5    379935
5.0     75833
Name: count, dtype: int64

ð Column analysis: review_count_user
--------------------------------------------------
ð Summary statistics:
count    1.499992e+06
mean     1.565754e+01
std      6.642207e+01
min     -1.280000e+02
25%     -2.500000e+01
50%      2.400000e+01
75%      6.400000e+01
max      1.270000e+02
Name: review_count_user, dtype: float64

ð¢ Unique values (256):
[  36   15    5   83 -104   -6  110   38   76   33   91 -108   10  -96
  -27   86  -57   -4   87    6]

## Save reviews data intermediate

In [30]:
df3.to_parquet(
    BASE_DIR / "data/02_intermediate/data_message_classifier_interm.parquet",
    index=False,
    schema=schema,
)