## Title
Data Raw Exploration

### By:
Juan G√≥mez

### Date:
2024-05-16

### Description:

This notebook explores the raw Yelp Open Dataset. It shows basic statistics, checks missing values, and looks at trends in popularity, genres, and ratings. The goal is to understand the data before building a recommendation system.

## Import  libraries

In [1]:
from pathlib import Path

import pandas as pd
import pyarrow as pa

## Load data

In [2]:
pd.set_option("display.max_columns", None)
BASE_DIR = Path.cwd().resolve().parents[1]

In [3]:
df = pd.read_parquet(BASE_DIR / "data/01_raw/data_message_classifier_raw.parquet")

## Exploration

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500000 entries, 0 to 1499999
Data columns (total 43 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   review_id           1500000 non-null  object
 1   user_id             1500000 non-null  object
 2   business_id         1500000 non-null  object
 3   stars               1500000 non-null  int64
 4   useful              1500000 non-null  int64
 5   funny               1500000 non-null  int64
 6   cool                1500000 non-null  int64
 7   text                1500000 non-null  object
 8   date                1500000 non-null  datetime64[ns]
 9   name                1499992 non-null  object
 10  review_count        1499992 non-null  float64
 11  yelping_since       1499992 non-null  object
 12  useful_user         1499992 non-null  float64
 13  funny_user          1499992 non-null  float64
 14  cool_user           1499992 non-null  float64
 15  elite               1499992 non-null  object
 16  friends             1499992 non-null  object
 17  fans                1499992 non-null  float64
 18  average_stars       1499992 non-null  float64
 19  compliment_hot      1499992 non-null  float64
 20  compliment_more     1499992 non-null  float64
 21  compliment_profile  1499992 non-null  float64
 22  compliment_cute     1499992 non-null  float64
 23  compliment_list     1499992 non-null  float64
 24  compliment_note     1499992 non-null  float64
 25  compliment_plain    1499992 non-null  float64
 26  compliment_cool     1499992 non-null  float64
 27  compliment_funny    1499992 non-null  float64
 28  compliment_writer   1499992 non-null  float64
 29  compliment_photos   1499992 non-null  float64
 30  name_user           1500000 non-null  object
 31  address             1500000 non-null  object
 32  city                1500000 non-null  object
 33  state               1500000 non-null  object
 34  postal_code         1500000 non-null  object
 35  latitude            1500000 non-null  float64
 36  longitude           1500000 non-null  float64
 37  stars_user          1500000 non-null  float64
 38  review_count_user   1500000 non-null  int64
 39  is_open             1500000 non-null  int64
 40  attributes          1447264 non-null  object
 41  categories          1499791 non-null  object
 42  hours               1423302 non-null  object
dtypes: datetime64[ns](1), float64(20), int64(6), object(16)
memory usage: 492.1+ MB

In [5]:
df.sample(5)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,name,review_count,yelping_since,useful_user,funny_user,cool_user,elite,friends,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,name_user,address,city,state,postal_code,latitude,longitude,stars_user,review_count_user,is_open,attributes,categories,hours
366812,TSBzGFRb8b1AzvsKXDpbrw,IhOCb1dkQqEfHwq0rqO49A,iT1SHRDcql3SGws9XQRscQ,5,2,0,1,"Awesome food, burgers, shakes, fries, onion ri...",2020-05-09 05:58:12,Kimberly,12.0,2010-09-21 23:34:25,27.0,1.0,7.0,,m3iBx8_CwNUaT4W9wLYgcQ,1.0,4.07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,m2o Burgers & Salads,50 East Wynnewood Rd,Wynnewood,PA,19096,40.001728,-75.274230,4.0,52,1,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Food, American (Traditional), Juice Bars & Smo...","{'Friday': '10:30-21:0', 'Monday': '10:30-20:3..."
347106,m6UrPFbJq4sRd1pfv-dLlA,ZtpYa8lboH-dhqgTTFepjQ,K3bPWU8daszLmjFs8UU1Gw,5,2,0,1,I can't say enough good things about Dr Bachma...,2020-06-18 01:15:46,Lisa,10.0,2020-06-18 01:15:43,5.0,1.0,3.0,,None,0.0,5.00,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Southern Arizona Veterinary Specialty & Emerge...,7474 E Broadway Blvd,Tucson,AZ,85710,32.220468,-110.832847,3.0,93,1,None,"Pets, Veterinarians, Pet Services","{'Friday': '0:0-0:0', 'Monday': '0:0-0:0', 'Sa..."
2754,5qGfK5xJw_avEIm6b8rBvg,qX7x9pHODJgxO7nVaJGmHg,4S_yN5o0EvXvV6GNvesTKw,1,2,0,0,I have been patronizing SMK for several years ...,2022-01-12 17:11:29,Karen,54.0,2012-03-31 20:24:24,97.0,10.0,11.0,,"z13nBemqirFGm6RkAC8E8Q, 4WgDsHXPSZ7hgapcGmXyvQ...",3.0,2.81,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,1.0,Sister Muhammad's Kitchen,4441 Germantown Ave,Philadelphia,PA,19140,40.022826,-75.159091,4.0,126,1,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Restaurants, Halal, American (Traditional), Ba...","{'Friday': '11:0-22:0', 'Monday': '11:0-20:0',..."
1496427,1TIxrcpxt4fVEgB9H2LyFw,vimEpZnvi38O0Vz5uaNj4g,Tmrk0JnFMKYAn-JIh6vavg,4,2,1,1,I really loved this little gift shop! They ha...,2017-01-17 19:41:56,Christy,565.0,2011-07-25 15:05:55,1607.0,554.0,862.0,"2011,2012,2013,2014,2015,2016","mmSvRe11vbz3XTXw5bFJJg, Gi_tb58OsPo4H7dzUsMDUw...",65.0,3.98,95.0,9.0,5.0,6.0,6.0,94.0,327.0,157.0,157.0,75.0,34.0,Living Rainbow Gift Shop,12789 Sabino Canyon Pkwy,Mount Lemmon,AZ,85619,32.441630,-110.759783,4.5,13,1,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Flowers & Gifts, Shopping","{'Friday': '10:30-16:30', 'Monday': '10:30-16:..."
505733,j3MIKqKcJ89r1xBgYoNJeQ,KrUd3js8E5bVeMAzkiWWFQ,uKEabBQrn0gLzvTppOrKIA,5,2,0,1,I'll come back every time for a homemade torti...,2019-10-29 12:52:45,Elena,146.0,2012-06-28 21:23:07,292.0,37.0,197.0,"2018,2019,20,20,2021","IAfZTyOQygEpsjq3YbRH8A, l2MKXwFHu-_gwi-jo_itSQ...",7.0,4.44,2.0,2.0,1.0,0.0,0.0,6.0,10.0,16.0,16.0,8.0,13.0,Casita Taqueria,2701 4th St,Saint Petersburg,FL,33704,27.796976,-82.638168,4.5,207,1,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Mexican, Restaurants","{'Friday': '11:0-22:0', 'Monday': '11:0-21:0',..."

### Null Values

In [6]:
print("\nNull values in Movie Data Set:")
null_counts = df.isnull().sum()
display(null_counts[null_counts > 0].sort_values(ascending=False))

Null values in Movie Data Set:

hours                 76698
attributes            52736
categories              209
review_count              8
compliment_photos         8
compliment_writer         8
compliment_funny          8
compliment_cool           8
compliment_plain          8
compliment_note           8
compliment_list           8
compliment_cute           8
name                      8
compliment_more           8
compliment_hot            8
average_stars             8
fans                      8
friends                   8
elite                     8
cool_user                 8
funny_user                8
useful_user               8
yelping_since             8
compliment_profile        8
dtype: int64

In [7]:
df2 = df.dropna(subset=["useful_user", "funny_user", "cool_user", "fans"])

In [8]:
print("\nColumns with more than 30% missing values:")
null_threshold = 30
null_percent = df.isnull().mean() * 100  # calculate & of null values
display(null_percent[null_percent > null_threshold].sort_values(ascending=False))

Columns with more than 30% missing values:

Series([], dtype: float64)

### Remove columns

In [9]:
df3 = df2.drop(
    columns=[
        "user_id",
        "business_id",
        "name",
        "yelping_since",
        "name_user",
        "latitude",
        "friends",
        "postal_code",
        "longitude",
        "compliment_hot",
        "compliment_more",
        "compliment_profile",
        "compliment_cute",
        "compliment_list",
        "compliment_note",
        "compliment_plain",
        "compliment_cool",
        "compliment_funny",
        "compliment_writer",
        "compliment_photos",
        "attributes",
        "hours",
        "review_count_user",
    ]
)

In [10]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1499992 entries, 0 to 1499999
Data columns (total 20 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   review_id      1499992 non-null  object
 1   stars          1499992 non-null  int64
 2   useful         1499992 non-null  int64
 3   funny          1499992 non-null  int64
 4   cool           1499992 non-null  int64
 5   text           1499992 non-null  object
 6   date           1499992 non-null  datetime64[ns]
 7   review_count   1499992 non-null  float64
 8   useful_user    1499992 non-null  float64
 9   funny_user     1499992 non-null  float64
 10  cool_user      1499992 non-null  float64
 11  elite          1499992 non-null  object
 12  fans           1499992 non-null  float64
 13  average_stars  1499992 non-null  float64
 14  address        1499992 non-null  object
 15  city           1499992 non-null  object
 16  state          1499992 non-null  object
 17  stars_user     1499992 non-null  float64
 18  is_open        1499992 non-null  int64
 19  categories     1499783 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(5), object(7)
memory usage: 240.3+ MB

In [11]:
df3.shape

(1499992, 20)

### Categorical Variables

In [12]:
cols_categoric = [
    "stars",
    "elite",
    "city",
    "state",
]

In [13]:
df3[cols_categoric] = df3[cols_categoric].astype("category")

- Ordinal: stars

- Nominal: elite, city, state

### Numerical Variables

In [14]:
cols_numeric = [
    "useful",
    "funny",
    "cool",
    "review_count",
    "useful_user",
    "funny_user",
    "cool_user",
    "fans",
    "average_stars",
    "stars_user",
]

- Float

In [15]:
cols_numeric_float = ["stars_user", "average_stars"]

In [16]:
df3[cols_numeric_float] = df3[cols_numeric_float].astype("float")

- Int

In [17]:
cols_numeric_int = [
    "useful",
    "funny",
    "cool",
    "review_count",
    "useful_user",
    "funny_user",
    "cool_user",
    "fans",
]

In [18]:
df3[cols_numeric_int] = df3[cols_numeric_int].astype("int32")

### Boolean Variables

In [19]:
cols_boolean = ["is_open"]

In [20]:
df3[cols_boolean] = df3[cols_boolean].astype("bool")

### String Variables

In [21]:
cols_string = ["review_id", "text", "address", "categories"]

In [22]:
df3[cols_string] = df3[cols_string].astype("object")

### Date Variables

In [23]:
col_date = ["date"]

In [24]:
df3[col_date] = df3[col_date].astype("datetime64[ns]")

### Schema

In [25]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1499992 entries, 0 to 1499999
Data columns (total 20 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   review_id      1499992 non-null  object
 1   stars          1499992 non-null  category
 2   useful         1499992 non-null  int32
 3   funny          1499992 non-null  int32
 4   cool           1499992 non-null  int32
 5   text           1499992 non-null  object
 6   date           1499992 non-null  datetime64[ns]
 7   review_count   1499992 non-null  int32
 8   useful_user    1499992 non-null  int32
 9   funny_user     1499992 non-null  int32
 10  cool_user      1499992 non-null  int32
 11  elite          1499992 non-null  category
 12  fans           1499992 non-null  int32
 13  average_stars  1499992 non-null  float64
 14  address        1499992 non-null  object
 15  city           1499992 non-null  category
 16  state          1499992 non-null  category
 17  stars_user     1499992 non-null  float64
 18  is_open        1499992 non-null  bool
 19  categories     1499783 non-null  object
dtypes: bool(1), category(4), datetime64[ns](1), float64(2), int32(8), object(4)
memory usage: 147.4+ MB

In [26]:
schema = pa.Schema.from_pandas(df3, preserve_index=False)

In [27]:
schema

review_id: string
stars: dictionary<values=int64, indices=int8, ordered=0>
useful: int32
funny: int32
cool: int32
text: string
date: timestamp[ns]
review_count: int32
useful_user: int32
funny_user: int32
cool_user: int32
elite: dictionary<values=string, indices=int16, ordered=0>
fans: int32
average_stars: double
address: string
city: dictionary<values=string, indices=int16, ordered=0>
state: dictionary<values=string, indices=int8, ordered=0>
stars_user: double
is_open: bool
categories: string
-- schema metadata --
pandas: '{"index_columns": [], "column_indexes": [], "columns": [{"name":' + 2501

## Basic Statistics

In [28]:
df3.describe(include=["object", "category"])

,review_id,stars,text,elite,address,city,state,categories
count,1499992,1499992,1499992,1499992,1499992,1499992,1499992,1499783
unique,1499992,5,1498155,838,103378,1299,24,70431
top,LgfSWgq5DzgoFzNW6YwfSg,5,I love Mexican restaurants I could probably ea...,,,Philadelphia,PA,"Restaurants, Mexican"
freq,1,678237,7,933532,22169,176131,314382,10310

In [29]:
MAX_UNIQUE_DISPLAY = 20

for column in cols_numeric:
    print(f"\nüîç Column analysis: {column}")
    print("-" * 50)

    # Step 1: Summary statistics
    print("üìä Summary statistics:")
    print(df3[column].describe())

    # Step 2: Unique values (limit if too many)
    unique_vals = df3[column].unique()
    print(f"\nüî¢ Unique values ({len(unique_vals)}):")
    print(
        unique_vals if len(unique_vals) <= MAX_UNIQUE_DISPLAY else unique_vals[:MAX_UNIQUE_DISPLAY]
    )

    # Step 3: Value counts (only if few unique values)
    if df3[column].nunique() <= MAX_UNIQUE_DISPLAY:
        print("\nüìà Value counts:")
        print(df3[column].value_counts().sort_index())

üîç Column analysis: useful
--------------------------------------------------
üìä Summary statistics:
count    1.499992e+06
mean     2.461755e+00
std      4.205422e+00
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      2.000000e+00
max      6.170000e+02
Name: useful, dtype: float64

üî¢ Unique values (198):
[ 1  3  2  6  8  5  4 10  7 25 23 52 11 13 12 18  9 67 14 15]

üîç Column analysis: funny
--------------------------------------------------
üìä Summary statistics:
count    1.499992e+06
mean     5.350482e-01
std      2.176572e+00
min     -1.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      7.920000e+02
Name: funny, dtype: float64

üî¢ Unique values (122):
[ 0  1  2  4  3  5  6  7 27  9 18  8 10 19 21 23 26 16 13 11]

üîç Column analysis: cool
--------------------------------------------------
üìä Summary statistics:
count    1.499992e+06
mean     1.094221e+00
std      3.515650e+00
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      1.000000e+00
max      3.040000e+02
Name: cool, dtype: float64

üî¢ Unique values (182):
[ 1  0  2  5  7  4  3  6  9 25 19 54 11 10 12  8 18 14 15 28]

üîç Column analysis: review_count
--------------------------------------------------
üìä Summary statistics:
count    1.499992e+06
mean     1.686461e+02
std      4.710485e+02
min      1.000000e+00
25%      9.000000e+00
50%      3.900000e+01
75%      1.530000e+02
max      1.747300e+04
Name: review_count, dtype: float64

üî¢ Unique values (1817):
[  5  48  79  32 281 576  18 131  51  67 488  81 556 118   2  86 456  90
  44 195]

üîç Column analysis: useful_user
--------------------------------------------------
üìä Summary statistics:
count    1.499992e+06
mean     7.567800e+02
std      4.897320e+03
min      0.000000e+00
25%      7.000000e+00
50%      3.600000e+01
75%      2.110000e+02
max      2.062960e+05
Name: useful_user, dtype: float64

üî¢ Unique values (4489):
[   4   95   66   33  952 1061   10  182   54 2057   51  559  537    0
   44 2036  147   23   29  276]

üîç Column analysis: funny_user
--------------------------------------------------
üìä Summary statistics:
count    1.499992e+06
mean     3.095407e+02
std      3.215000e+03
min      0.000000e+00
25%      1.000000e+00
50%      6.000000e+00
75%      4.200000e+01
max      1.858230e+05
Name: funny_user, dtype: float64

üî¢ Unique values (3006):
[   0   13   19  452  102   10    3  544    5   63   96    2 1113    7
   14  473  630   11   59 2755]

üîç Column analysis: cool_user
--------------------------------------------------
üìä Summary statistics:
count    1.499992e+06
mean     5.613308e+02
std      4.333898e+03
min      0.000000e+00
25%      1.000000e+00
50%      1.100000e+01
75%      1.000000e+02
max      1.958140e+05
Name: cool_user, dtype: float64

üî¢ Unique values (3737):
[   2    6   23   12  498  763   93   14   13 1726   15  326  342    0
 1242   97   20   10  148   31]

üîç Column analysis: fans
--------------------------------------------------
üìä Summary statistics:
count    1.499992e+06
mean     2.158691e+01
std      1.131580e+02
min      0.000000e+00
25%      0.000000e+00
50%      1.000000e+00
75%      9.000000e+00
max      1.249700e+04
Name: fans, dtype: float64

üî¢ Unique values (617):
[  0   1  23  41   6   2  79   9  22  45   5  12  56 167  11 568  17 563
  33   4]

üîç Column analysis: average_stars
--------------------------------------------------
üìä Summary statistics:
count    1.499992e+06
mean     3.724495e+00
std      8.985252e-01
min      1.000000e+00
25%      3.400000e+00
50%      3.930000e+00
75%      4.300000e+00
max      5.000000e+00
Name: average_stars, dtype: float64

üî¢ Unique values (401):
[4.5  2.46 3.59 4.05 4.14 4.33 4.43 3.8  4.19 4.11 4.06 4.41 4.29 4.17
 4.4  4.53 3.68 4.48 4.15 4.24]

üîç Column analysis: stars_user
--------------------------------------------------
üìä Summary statistics:
count    1.499992e+06
mean     3.762182e+00
std      8.171470e-01
min      1.000000e+00
25%      3.500000e+00
50%      4.000000e+00
75%      4.500000e+00
max      5.000000e+00
Name: stars_user, dtype: float64

üî¢ Unique values (9):
[4.5 3.5 5.  4.  3.  2.5 1.5 1.  2. ]

üìà Value counts:
stars_user
1.0     10696
1.5     30895
2.0     56043
2.5     88967
3.0    136139
3.5    263048
4.0    458436
4.5    379935
5.0     75833
Name: count, dtype: int64

## Save reviews data intermediate

In [30]:
df3.to_parquet(
    BASE_DIR / "data/02_intermediate/data_message_classifier_interm.parquet",
    index=False,
    schema=schema,
)